.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  margin-left: -10px;
  
}

  @media (min-width: 767.98px) {
    .bounding-box {
      width: calc(50% - 2px);
    }
  }